@media (max-width: 768px) {


    .ft p {
        color: aliceblue;
        font-size: 5px;
    }

    .ft h5 {
        font-weight: bolder;
        color: aliceblue;
    }

    .ft {
        padding: 5px;
        margin-top: 2%;
    }

    .ft img {
        width: 50%;
    }

    .fx {
        height: 70px;
        background-color: #421a1f;
    }

    .fa p {
        color: aliceblue;
        font-size: 5px;
    }

    .fa h5 {
        font-weight: bolder;
        color: aliceblue;
        font-size: 5px;
    }

    .fa {
        padding: 5px;
        margin-top: 2%;
    }

    .fax p{
    }

    .fc p{
        font-weight: bolder;
        color: aliceblue;
        padding: 5px;
        margin-top: 12%;
        font-size: 5px;
    }

  

    .footer {
        position: relative;
        background-image: url("https://theme.hstatic.net/1000313040/1000406925/14/footer-bg.png?v=2120");
        background-position: center;
        /* Center the background image */
        background-size: cover;
        /* Scale the image to cover the entire element */
        background-repeat: no-repeat;
        z-index: 0;

    }

    .footer::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.7);
        /* Increase the opacity to make the image darker */
        z-index: -1;
    }

}